<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="\stylesheets\style_chat.css" />
    <title>Socket.IO chat</title>
    <style>
    </style>
  </head>
  <body>

    <div class="wrapper">
      <div class="chatHeader">
        Header container
      </div>
      <div class="broadcastLabelContainer">
        <div class="broadcastLabel centered">BROADCAST</div>
      </div>
      <div class="broadcastMessageContainer">
        <div class="broadcastMessage">
          <div class="centered">BROADCAST MESSAGE...</div>
        </div>
      </div>
      <div id="chatMessagesContainer">

      </div>
      <div class="connectedUsersLabelContainer">
        <div class="centered" id="connectedUsersLabel">Connected Users</div>
      </div>
      <ul id="chatUsersContainer">

      </ul>
      <div class="chatChannels">
        <div class="channel nested">
          <div id="channelLabel" class="centered">General</div>
        </div>
      </div>

      <form id="formSendMessage" action="">



        <div class="nested messageInputContainer">
          <input id="messageInput" autocomplete="off"/>
        </div>


      </form>


    </div>

    <audio id="audioplayer" src="" preload="auto"></audio> <!-- /sounds/message.mp3 -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <script src="/javascripts/client_chat.js"></script>
    <script src="/javascripts/chat_functions.js"></script>
    <script>
      (function(){
        $(".chatChannels").bind('mousewheel DOMMouseScroll', function(event){
        if (event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0) {
            // scroll up
            console.log("scroll up")
            this.scrollLeft -= 30;
        }
        else {
          console.log("scroll down")
          this.scrollLeft += 30;
            // scroll down
        }
      })
    })()
    </script>
  </body>
</html>
